version: "3.9"

services:
  postgres:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

  pgadmin:
    image: dpage/pgadmin4
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - app_network

  servidor_web:
    build:
      context: ./tecnoreservas-server
    restart: unless-stopped
    environment:
      POSTGRES_DB_SERVER_ADDRESS: postgres
      POSTGRES_DB_SERVER_PORT: 5432
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      JPA_HIBERNATE_DDL_AUTO: validate
      SPRING_PROFILES_ACTIVE: prod
    depends_on:
      - postgres
    expose:
      - "8081"
    networks:
      - app_network

  pagina_web:
    build:
      context: ./tecnoreservas-client
      args:
        VITE_API_URL: ${VITE_API_URL}
    restart: unless-stopped
    expose:
      - "80"
    networks:
      - app_network

  nginx:
    build:
      context: ./nginx
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - pagina_web
      - servidor_web
    networks:
      - app_network

volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge