/* src/components/layout/MainLayout.css */
.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* MODIFICACIÓN CLAVE AQUÍ */
.app-content {
  width: 100%;
  flex-grow: 1; 
  background-color: #F0F2F5;

  /* Añadimos estas propiedades para centrar el contenido interno */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido horizontalmente */
}